name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types:
      - opened
      - reopened
      - synchronize

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.x"
          enable-cache: true

      - name: Install dependencies
        run: uv run make sync

      - name: Lint with python
        run: uv run make lint

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.x"
          enable-cache: true

      - name: Install dependencies
        run: uv run make sync

      - name: Run typecheck
        run: uv run make mypy

  tests:
    runs-on: ubuntu-latest
    # needs: [lint, typecheck] # only run tests if lint and typecheck pass
    strategy:
      matrix:
        python-version: ["3.10", "3.14"] 
        # 3.14t

    name: Tests for Python ${{ matrix.python-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.x"
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv run make sync

      - name: Test with python ${{ matrix.python-version }}
        run: uv run make tests
        # I should add --frozen?? for frozen deps?
