name: Publish to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read

# TDDO: migrate to uv for building

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.x"
          enable-cache: true
          # uv will read "python-version" from the project files (pyproject.toml and .python-version)

      - name: Install dependencies
        run: make sync

      - run: uv build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
